// Mixins Here

.flex-column() {
  display: flex;
  flex-direction: column;
}

.flex(@just, @align, @dir) {
  display: flex;
  justify-content: @just;
  align-items: @align;
  flex-direction: @dir;
}

.btn(@bg, @size, @font-color) {
  width: @size;
  background-color: @bg;
  font-size: 1.8rem;
  padding: 2% 0;
  color: @font-color;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 0.5rem;

  &:hover {
    background-color:@font-color;
    color: @bg;
  }
}